<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Про мене</h2>
                <hr class="light">
                <p class="text-faded">Навчалася в Bloxham School, Oxfordshire, викладала англійську за кордоном та отримала кембриджські сертифікації FCE, TKT та CELTA.</p>
                <p class="text-faded">Співпрацюю з IT фахівцями топ компаній України вже понад 6 років. Провела понад 5000 занять та навчила  більше 600 студентів.</p>
                <p class="text-faded">Проводжу щомісяця  безкоштовні вебінари, марафони та лекції онлайн та офлайн.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
