<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Пропозиції</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary"></i>
                    <h3>Максимум розмовної практики</h3>
                    <p class="text-muted">Ви будете говорити з першого заняття, 80% практика і 20% теорія.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Зрозуміла граматика</h3>
                    <p class="text-muted">Ви вивчаєте граматику і одразу використовуєте її на реальних прикладах з життя.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-television wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Онлайн навчання</h3>
                    <p class="text-muted">Ви навчаєтесь у комфортних умовах з будь-якої точки світу по Skype або Zoom.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Персональний курс</h3>
                    <p class="text-muted">Ви отримуєте персоналізований курс з оптимальним темпом навчання.</p>
                </div>
            </div>
        </div>
    </div>
</section>
